.subs-button-container{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
}

.subscribe-button{
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', 'Sans-serif' ;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in-out;
    outline: none;
}

.subscribe-button:hover{
    background-color: #CC0000;
    box-shadow: (0 4px 6px rgba(0, 0, 0, 0.2));
    transform: scale(1.05);
}

.subscribe-button:active{
    background-color: #990000;
    box-shadow: (0 1px 3px rgba(0, 0, 0, 0.12));
    transform: scale(0.98);
}